# Node modules
node_modules

# OS específicos
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist
dist-ssr
*.local

# Python
venv/
__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.venv
etl/youtube_comments.csv
etl/data/youtube_comments_hp2QZ0BGaps.csv.gz
model_training/xlm-roberta-base/model-xlm-roberta-base
model_training/xlm-roberta-base/model-xlm-roberta-robust
model_training/xlm-roberta-base/dataset_youtube_para_etiquetar.csv
*.pyc 