# node modules
node_modules

#OS específicos,
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
etl/youtube_comments.csv
.env
.venv
__pycache__
model_training
etl/data/youtube_comments_hp2QZ0BGaps.csv.gz