# UV 
.python-version
pyproject.toml
uv.lock

# node modules
node_modules

# OS específicos
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build outputs
dist
dist-ssr
*.local

# Python
venv/
__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv
etl/youtube_comments.csv
.env
model_training/xlm-roberta-base/xlm-roberta-multilabel-robust
model_training/xlm-roberta-base/temp_eval
model_training/xlm-roberta-base/model-xlm-roberta-base